node_modules
.env
/react_cinema_v2/book-tickets/node_modules
/react_cinema_v2/serverStripe/node_modules
/react_cinema_v2/serverStripe/.env
/react_cinema_v2/serverStripe/.env
# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
